.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 25px;
}
.logo{
    width: 178px;
    height: 60px;
    align-self: flex-start;
    padding-top: 15px;
}
h2{
    color : white;
}

.link{
    text-decoration: none;
}