body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  height: 1024px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
}

.side-bar{
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
}

.copiright{
  color: white;
  rotate: -90deg;
  margin-top: auto;
  margin-bottom: 50px;
  white-space: nowrap;
}

.body{
  display: flex;
  height: 900px
}
